<!DOCTYPE html>
<html>
  <head>
    <title>HereUS Makaleler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='feed.css')}}">
    {% if plus %}<link rel="stylesheet" href="{{url_for('.static', filename='index-plus.css')}}">{%endif%}
    <link rel="shortcut icon" href="{{url_for('.static', filename='favicon.png')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <div class="topnav">
      {%if True%}<a class="deactive_right" href="{{url_for('user', email=current_user.email)}}"><span class="material-symbols-rounded md-18"><font color="black">account_circle</font></span></a>{%endif%}
      
      {%if True%}<a class="deactive_right" href="{{url_for('communities')}}"><span class="material-symbols-rounded md-18"><font color="black">forum</font></span></a>{%endif%}
      {% if not ((not True) and (False)) %}<a class="deactive_right" href="{{url_for('feed')}}"><span class="material-symbols-rounded md-18"><font color="black">group</font></span></a>{%endif%}
      {% if (not True) and (False) %}{%endif%}
      <a class="deactive_right" href="{{url_for('explore')}}"><span class="material-symbols-rounded md-18"><font color="black">explore</font></span></a>
      <a class="active_right" href="{{url_for('articles')}}"><button><span class="material-symbols-rounded md-18"><font color="black">article</font></span></button></a>
      <a class="deactive_right">{% if True %}<form method="POST" action="{{ url_for('search') }}"><input type="text" placeholder="{{strings["search"]["ara"]}}" id="key" name="key" class="textbox" style="height:fit-content;">{% else %}{% if True %}<form method="POST" action="{{ url_for('search') }}"><input type="text" placeholder="{{strings["search"]["ara"]}}" id="key" name="key" class="textbox" style="height:fit-content;width:330px;">{% endif %}{% endif %}</form></a>
      {% if True %}<a class="deactive_right" style="font-size: 20px;">{{current_user.tokens}} <span class="material-symbols-rounded md-18"style="font-size: 15px;">generating_tokens</span></a>{% endif %}
    </div>
  </head>
  <body class="body_{%if True%}{{current_user.biography.split('|')[0].split('{')[1]}}{%endif%}">
    <div style="padding-left:10px;padding-right:10px;">
      <div class="row">
        <h2>HereUS Makaleler</h2>
      </div>
      &nbsp;<br>
      {% for article in articles %}
        <div class="the_box" style="border-radius: 15px; ">
          &nbsp;<br>
          <a href="{{url_for('article', id=article.id)}}"><font size="5">&nbsp;&nbsp;{{ article.title }}</font><br></a>
          <font size="1" color="grey">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{strings["feed"]["articles"]["yazar"]}} {{ article.author }}</font><br>
          &nbsp;<br>
        </div>
        &nbsp;<br>
      {% endfor %}
    </div>
    &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>
  </body>
  <script>
    document.getElementById('button').addEventListener('click', () => {
      document.getElementById('file').click()
    })
  </script>
</html>